<body class="main">
<div class="center">
    </br>
    </br>
    </br>
    </br>
    <h1 class="top">World </br>
        Soccer </br>
        Communitie</h1>	
<%= link_to "Create my account!", signup_path, class: "btn btn-lg btn-primary" %>
    </br>
    </br>
</div>
  </body>