<body class="main">
<% if logged_in? %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <%= render 'shared/user_info' %>
    </section>
    <section class="stats">
      <%= render 'shared/stats' %>
    </section>
  </aside>
  <div class="col-md-8">
    <h1 class = "subtitle">Direct Message</h1>
    <%= render 'shared/talks' %>
  </div >
</div>

<% else %>
  <%= render 'static_pages/not_logged_in_home' %>
<% end %>
</body>
