<% provide(:title, "Help") %>
    <body class="main">
    <h1 class="subtitle">About</h1>
    </br>
    </br>
    </br>
    </br>
    <p class="center sentence">  サッカーを愛してやまない諸君。</br>
         雑音を気にせず世界中の気の合う仲間と語り合いませんか？</br>
         試合をリアルタイムで語るもよし!!</br>
         お気に入りのチームについて語るもよし!!
    </p>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </body>