<% provide(:title, "Log in") %>
<body class="main">
  <h1 class="subtitle">Log in</h1>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <%= form_for(:session, url: login_path) do |f| %>
      <%= f.label "メールアドレス" ,class:"color"%>
      <%= f.email_field :email, class: 'form-control' %>
      <%= f.label "パスワード" ,class:"color"%>
      <%= link_to "パスワードを忘れた方へ", new_password_reset_path,class:"linkcolor" %>
      <%= f.password_field :password, class: 'form-control' %>
        <%= f.label :remember_me, class: "checkbox inline" do %>
        <%= f.check_box :remember_me %>
        <span class = "color">ログイン情報を保持し続けましか？</span>
        <% end %>
      <%= f.submit "Log in", class: "btn btn-primary btntextsize" %>
      <% end %>
      </br>
      <p class = "color">まだアカウント登録していない方へ</br>
      <%= link_to "Create my account!", signup_path ,class:"linkcolor"%></p>
      <section>
      <div class="sraidcontainer">
        <div class="carousel">
          <div class="item a"><img src="/player2.jpg"></div>
          <div class="item b"><img src="/player7.jpg"></div>
          <div class="item c"><img src="/player3.jpg"></div>
          <div class="item d"><img src="/player4.jpg"></div>
          <div class="item e"><img src="/player5.jpg"></div>
          <div class="item f"><img src="/player6.jpg"></div>
        </div>
      </div>
      <div class="snext">></div>
      <div class="sprev"><</div>
      </section>
    </div>
  </div>
</body>
