<h1>Sample App</h1>

<p><%= @user.name %>,</p>

<p>
サンプルアプリへようこそ！以下のリンクをクリックして、アカウントを有効にしてください
</p>

<%= link_to "Activate", edit_account_activation_url(@user.activation_token,
                                                    email: @user.email) %>