<h1>World Soccer Communite</h1>

<p><%= @user.name %>,</p>

<p>
World Soccer Communiteへようこそ！以下のリンクをクリックして、アカウントを有効にしてください
</p>

<%= link_to "有効化", edit_account_activation_url(@user.activation_token,
                                                    email: @user.email) %>