<h1>World Soccer Communite</h1>


<p>パスワードをリセットするには、以下のリンクをクリックしてください。</p>

<%= link_to "パスワードリセット", edit_password_reset_url(@user.reset_token,
                                                      email: @user.email) %>

<p>このリンクは2時間で有効期限が切れます。</p>

<p>
パスワードの再設定をリクエストしていない場合は、
このメールを無視してください。パスワードは変更されません。
</p>
