<% provide(:title, "Edit user") %>
<% provide(:button_text, "Update") %>
<h1 class="subtitle" >Update My Account</h1>
<div class="row">
  <%= javascript_include_tag("anime2.js") %>
  <div class="col-md-3">
    <h1 class="updateanime">
      <span class="letters-container">
        <span class="letters letters-left">Setting</span>
        </br>
        <span class="letters bang">Now!!</span>
      </span>
      <span class="circle circle-white"></span>
      <span class="circle circle-dark"></span>
      <span class="circle circle-container">
      <span class="circle circle-dark-dashed"></span></span>
    </h1>
  </div>
  <div class="col-md-6">
    <%= render "form" %>
    <div class="gravatar_edit">
      <%= gravatar_for @user %>
      <a href="http://gravatar.com/emails" target="_blank" id="linkcolor">Change</a>
    </div>
  </div>
</div>