<% provide(:title, "Create my account") %>
<% provide(:button_text, "Create") %>
<h1 class="subtitle">Create my account</h1>
<div class="row">
  <%= javascript_include_tag("anime.js") %>
  <div class="col-md-3 animeleft">
    <p class="welcomeanime">
    <span class="word">Welcome!!</span>
    </br>
    <span class="word">World</span>
    </br>
    <span class="word">Soccer</span>
    </br>
    <span class="word">Community</span>
    </p>
  </div>
  <div class="col-md-6">
    <%= render "users/form" %>
  </div>
</div>