<% provide(:title, 'Create my account') %>
<% provide(:button_text, 'Create') %>
<body class="main">
<h1>Create my account</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render 'users/form' %>
  </div>
</div>
</body>