<% provide(:title, @title) %>
<body class="main">
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= gravatar_for @user %>
        <h1 class = "color2"><%= @user.name %></h1>
        <span><%= link_to "マイアカウントを表示", @user ,class:"linkcolor"%></span>
        <span class = "color2"><b>Tweet:</b> <%= @user.microposts.count %></span>
      </section>
      <section class="stats">
        <%= render 'shared/stats' %>
        <% if @users.any? %>
          <div class="user_avatars">
            <% @users.each do |user| %>
              <%= link_to gravatar_for(user, size: 30), user %>
            <% end %>
          </div>
        <% end %>
      </section>
    </aside>
    <div class="col-md-8">
      <h3 class = "color"><%= @title %></h3>
      <% if @users.any? %>
        <ul class="users follow ulbackcolor">
          <%= render @users %>
        </ul>
        <%= will_paginate %>
      <% end %>
    </div>
  </div>
</body>