<% if object.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
     <%= t('.errors count', errors_count: object.errors.count) %>
    </div>
    <ul class="ulerrorbackcolor">
    <% object.errors.full_messages.each do |message| %>
      <li class="lierror"><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>
