<footer class="footer">
  <nav>
    <ul class="logo">
      <li><%= link_to image_tag('/serieA.png', class: "ligu_logo"), "http://www.legaseriea.it/it/",target: :_blank %></li>
      <li><%= link_to image_tag('/premier.png', class: "ligu_logo"), "https://www.premierleague.com//",target: :_blank %></li>
      <li><%= link_to image_tag('/j.png', class: "ligu_logo"), "https://www.jleague.jp//",target: :_blank %></li>
      <li><%= link_to image_tag('/ligue1.png', class: "ligu_logo"), "https://www.ligue1.com//",target: :_blank %></li>
      <li><%= link_to image_tag('/laliga.png', class: "ligu_logo"), "https://www.laliga.com//",target: :_blank  %></li>
      <li><%= link_to image_tag('/bundes.png', class: "ligu_logo"), "https://www.bundesliga.com/jp/bundesliga/",target: :_blank  %></li>
    </ul>
  </nav>
</footer>