<header class="navbar navbar-fixed-top navbar-inverse" style="background: rgba(0,0,64,0.5);">
  <div class="container">
    <%= link_to "WSC", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right"　style="background-color:#000066;">
        <% if logged_in? %>        
          <li><%= link_to "Direct Message", dmhome_path %></li>
          <li><%= link_to "Tweet", root_path %></li>
          <li><%= link_to "Supporters", users_path %></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Account <b class="caret"></b>
            </a>
         <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
         <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
         <script>
           $('.dropdown-toggle').dropdown()
         </script>
            <ul class="dropdown-menu">
              <li><%= link_to "My Account", current_user %></li>
              <li><%= link_to "Settings", edit_user_path(current_user) %></li>
              <li class="divider"></li>
              <li>
                <%= link_to "Log out", logout_path, method: :delete %>
              </li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to "Log in", login_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>